<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
	
        <bookdiscount_customfee>
            <bookdiscount_customfee>
                <bookdiscount_status>1</bookdiscount_status>
            </bookdiscount_customfee>
        </bookdiscount_customfee>
        <bookdiscount_customfee>
            <bookdiscount_customfee>
                <bookdiscount_name>Book Discount</bookdiscount_name>
            </bookdiscount_customfee>
        </bookdiscount_customfee>
        <bookdiscount_customfee>
            <bookdiscount_customfee>
                <bookdiscount_customfeeamount>12</bookdiscount_customfeeamount>
            </bookdiscount_customfee>
        </bookdiscount_customfee>
        <bookdiscount_customfee>
            <bookdiscount_customfee>
                <bookdiscount_minimumorderamount>0.01</bookdiscount_minimumorderamount>
            </bookdiscount_customfee>
        </bookdiscount_customfee>
	
    </default>
</config>
			