     
body{
    font-family: "BentonSans-Regular";
    line-height: normal;
    color:#053052;
    font-size: 16px;
}
h1, h2,h3 { color:#053052; font-size:40px; font-family:"BentonSans-Bold"; }
h1, h2, h3 {
    font-size: 40px;
    margin: 0 0 30px;
    position: relative;
}
a { color:#053052; }
a:hover { color:#053052; }


a:hover{ text-decoration: none; }
p{
    line-height: 26px;
    font-size:16px; 
}
ul{ padding:0; }
li{ list-style: none; display: inline-block; }

/*--btn-css--*/
.btn-primary {
    background-color: #053052;
    border-color: #053052;
    font-family: "BentonSans-Light";
    font-size: 18px;
    padding: 12px 30px;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
}
.btn2{
    color: #053052;
    background: #E2AF9F;
}
.btn-primary:hover,
.btn2:hover,
.create-bx .btn:hover {
    background-color: #e7afa0;
    border-color: #e7afa0;
    color:#fff;
}


/*--/btn-css--*/


.header-navbar {
    float: left;
    background: #F9F9F8;
    width: 100%;
}
.page-main {
    float: left;
    width: 100%;
}
.front-banner {
    float: left;
    width: 100%;
}
.satisfaction-carousel p span {
    font-family: BentonSans-Bold;
}
.page-header .panel {
    background: #FCDCD4;
    padding: 10px 0 5px;
    text-align: center;
}
footer.page-footer {
    float: left;
    width: 100%;
    position: relative;
}
.scroll-top {
    width: auto;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index:1;
}
.scroll-top .scroll-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 100%;
    font-size: 40px;
    text-align: center;
    line-height: 46px;
    box-shadow: 0 0 10px #c5b8b8;
    transition:all 0.3s ease; 
}
.scroll-top .scroll-link:hover {
    background: #053052;
    color: #fff;
}
.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
    display:none; 
}
.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next {
    font-size: 46px;
    top: 50%;
    transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    position: absolute;
}
.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-prev:hover { 
    left: -30px;
    background: url(../images/left_arrow.png);
 }
 .owl-theme .owl-nav button.owl-next,
 .owl-theme .owl-nav button.owl-next:hover {
     right:-30px;
     background: url(../images/right_arrow.png);
}
 .owl-theme .owl-nav button.owl-prev,
 .owl-theme .owl-nav button.owl-prev:hover,
 .owl-theme .owl-nav button.owl-next,
 .owl-theme .owl-nav button.owl-next:hover {
    background-repeat: no-repeat;
    background-position: center top;
    width: 30px;
    height: 30px;
    background-size: 30px auto;
    outline: none;
    margin:0; 
 }
 
.satisfaction-carousel .owl-theme .owl-nav button.owl-prev,
.satisfaction-carousel .owl-theme .owl-nav button.owl-next {
    font-size: 30px;
    margin: 0;
    outline: none;
    background: none;
    height: auto;
    width: auto;
}
.satisfaction-carousel .owl-theme .owl-nav button.owl-prev:hover,
.satisfaction-carousel .owl-theme .owl-nav button.owl-next:hover{
    background:none; color:#053052;
} 
.owl-theme .owl-nav button.owl-prev:before,
.owl-theme .owl-nav button.owl-next:before {
    font-family: fontawesome;
}
.satisfaction-carousel .owl-theme .owl-nav button.owl-prev:before {
    content: "\f104";
}
.satisfaction-carousel .owl-theme .owl-nav button.owl-next:before {
    content: "\f105";
}
.satisfaction-carousel p {
    margin: 0; line-height:normal; 
}
.satisfaction-carousel {
    max-width: 600px;
    margin: 0 auto;
    width: 90%;
}
header .header-content {
    float: left;
    width: 100%;
}
.logo-col img {
    max-width: 250px;
    width:100%;
}
.content-menu a {
    color: #6B6B6B;
    font-size: 18px;
    font-family: "GeorgiaRegular";
    text-transform: capitalize;
}
.content-menu {
    float: left;
    width: 50%;
    padding-top: 38px;
    text-align:center; 
}
.logo-col{
    padding-top:25px; padding-bottom:25px;  
}

.content-menu ul {
    margin: 0;
}
.content-menu li {
    padding: 0px 12px;
}
.header-search {
    float: left;
    width: 30%;
    padding:20px 15px 0; 
}
.header-bag {
    float: left;
    width: 20%;
}
.sign-col {
    float: left;
    width: 50%;
    text-align: center;
    border-right: 1px solid #F2F1F0;
    border-left: 1px solid #F2F1F0;
}

.sign-col, .bag-col { padding:24px 4px 25px; }
.bag-col {
    float: left;
    width: 50%;
    text-align: center;
}
.singin-link span, .cart-link span {
    display: block;
    margin: 6px 0 0;
    color: #A9AAAC;
    font-family: "BentonSans-Medium";
}
.header-search input {
    border: none;
    border-radius: 0;
    font-size: 18px;
    color: #6B6B6B;
    outline: none;
    padding-left: 7px;
    padding-right: 40px;
    font-family: "GeorgiaRegular";
}
header .header-search input { border-bottom: 1px solid #A9AAAC; }
header .header-search .form-control:focus {
    color: #6B6B6B;
    border:none;
    border-bottom: 1px solid #053052;
    box-shadow: none;
}
.header-search .form-group{
    position: relative; margin:4px 0 0; 
}
.header-search .search-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background: none;
    color: #A9AAAC;
    font-size: 20px;
    padding: 5px 10px;
    outline: none;
}
.header-search .search-btn:hover{
    color:#053052;
}

.header-navbar .navbar-nav { 
    float: left;
    width:100%; 
  }
.navbar-collapse .header-top-menu {
    display: none;
}
.header-navbar .navbar{ padding:0; }
.header-navbar .navbar-nav > li {
    float: left;
    width: 13.222%;
    text-align: center;
    padding:20px 0; 
}
.navbar-nav > li a{ 
    font-size: 17px;
    font-family: "BentonSans-Medium";
 }
  .menu-child { 
    background: #053052;
  }

  .menu-child li a {
    font-size: 15px;
    font-family: "BentonSans-Regular";
    color: #fff;
}
.navbar-nav .toggle-menu:after {
    content: "\f107";
    font-family: fontawesome;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 2px;
}
.front-banner .item {
    position: relative;
}

.front-banner .banner-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 90%;
    text-align: center;
}
.front-banner h1 {
    font-size: 80px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 6px #9e9e9e;
    font-family: "BentonSans-Black";
}
.banner-caption .btn {
    margin: 10% 0 0;
}
.banner-subtitle {
    float: left;
    width: 100%;
    background: #F9F8F8;
    padding: 20px 0;
    text-align:center; 
}
.banner-subtitle .container{ position: relative; }

.banner-subtitle h3 {
    color: #E2AF9F;
    font-size: 34px;
    display: inline-block;
    float: none;
    margin: 0 0 0 5%;
    font-family: "GeorgiaRegular";
}
.banner-subtitle .inner-col span {
    color: #6B6B6B;
    font-size: 18px;
    font-style: italic;
}
.down-arrow-col {
    position: absolute;
    right: 0;
    top: -40px;
    z-index: 1;
}
.down-arrow-col img {
    width: 60px;
}
.advertise-bx {
    background: #fff;
    max-width: 280px;
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
    padding: 10px;
    z-index: 1;
    text-align: left;
    box-shadow: 0 0 10px #ccc;
    float: left;
}
.advertise-bx .advertise-img {
    float: left;
    width: 20%;
}
.advertise-bx .advertise-info {
    float: left;
    width: 80%;
    padding: 0 12px 0 10px;
}
.advertise-info p {
    margin: 0 0 5px;
    font-size: 13px;
    line-height: normal;
    color: #000;
}
.advertise-info h6 {
    font-size: 14px;
    font-family: "BentonSans-Medium";
    color: #000;
    text-transform: uppercase;
    margin: 0 0 2px;
}
.advertise-info span {
    font-size: 12px;
    color: #000;
}
.advertise-bx .close-add {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    background: #000;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    color: #fff;
    line-height: 18px;
    font-size: 14px;
}
.front-best-seller, 
.real-women-row,
.shopbest-col-btm {
    float: left;
    width: 100%;
}
.front-best-seller { padding: 50px 0 80px; }
.front-best-seller h2,
.front-shop-category h3,
.gift-inner h3,
.get-social-row h3 { 
    text-align: center;
 }
.star-col .fa { color: #F3CF85; font-size:14px; }
.seller-name-col .title-name {
    font-family: "BentonSans-Medium";
    font-size: 14px;
    margin: 0 0 8px;
    display: inline-block;
}
.seller-name-col p {
    font-size: 13px;
    line-height: 20px;
}
.bestseller-carousel img {
    margin-bottom: 20px;
}
.seller-info .star-col {
    margin: 0 0 7px;
}
.shopnow-col .shopnow-btn {
    font-size: 17px;
    font-family: BentonSans-Bold;
    text-transform: capitalize;
    text-decoration: underline;
}
.shopbest-col-btm {
    text-align: center;
    padding: 50px 0 0px;
}
.real-women-row {
    background: #ECF1F3;
}
.realbx-col {
    position: relative;
    padding: 5%;
    float: left;
    width: 100%;
    height: 100%;
    min-height: 540px;
}
.real-info span {
    display: block;
    margin: 0 0 15px;
    font-size: 26px;
}
.rating-box {
    width: 100%;
    background: #fff;
    padding: 10px;
    float: left;
}
.real-women-row .video-col {
    float: left;
    width: 100%;
    margin: 20px 0;
    z-index: 1;
}
.real-women-row .video-col img{
    cursor: pointer;
}
.rating-box .h-col,
.rating-box .title-row,
.rating-box .inner,
.magic-makeup-row,
.turn-clock,
.ask-jerome,
.front-shop-category,
.palettes-gift-row,
.get-social-row {
    float: left;
    width: 100%;
}

.rating-box .star-col {
    float: left;
    width: 50%;
}
.rating-box .date-col {
    width: 50%;
    float: left;
    text-align: right;
}
.rating-box .date-col p {
    font-size: 12px;
    margin: 0;
    line-height: normal;
    font-family: "BentonSans-Medium";
}
.rating-box .star-col .fa {
    font-size: 14px;
}
.title-row {
    float: left;
    width: 00;
}
.rating-box h4 {
    font-size: 16px;
    margin: 8px 0;
    font-family: "BentonSans-Medium";
}
.rating-box .left-col {
    float: left;
    width: 25%;
    padding: 0 15px 0 0;
}
.rating-box .right-col {
    float: left;
    width: 75%;;
}
.rating-box .right-col p {
    font-size: 13px;
    line-height: 19px;
    margin: 0 0 5px;
}
.rating-box .right-col h5 {
    font-family: "BentonSans-Medium";
    font-size: 16px;
    margin: 15px 0 0;
}
.rating-box .left-col p {
    font-size: 12px;
    margin:0;
    line-height:normal;  
}
.rating-box .left-col figure {
    margin: 0 0 5px;
}
.rating-box .left-col img {
    height: 70px;
    width: auto;
}
.realbx-col .btn {
    margin: 15px 0 0;
}
.magic-makeup-row {
    margin: 80px 0;
    background: url(../images/magic-bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 120%;
}
.magic-makeup-row .container{
    position: relative;
}
.magic-image-col {
    float: left;
    width: 25%;
    position: absolute;
    top: -50px;
}
.magic-carousel {
    float: left;
    width: calc(100% - 25%);
    padding: 0 50px;
    margin-left: 25%;
}
.magic-descript {
    padding: 50px 0 30px;
}
.magic-item {
    background: #fff;
    padding: 15px;
}
.magic-carousel .owl-theme .owl-nav button.owl-prev,
.magic-carousel .owl-theme .owl-nav button.owl-next {
    background-color: rgba(226,175,159,0.6);
    height: 80px;
    width: 50px;
    border-radius: 0;
    background-position:center center; 
}
.magic-carousel .owl-theme .owl-nav button.owl-prev{
    background-image: url(../images/left_arrow_white.png);
    left:-44px;
}
.magic-carousel .owl-theme .owl-nav button.owl-next{
    background-image: url(../images/right_arrow_white.png);
    right:-44px;
}
.clock-section .left-col, .clock-section .right-col {
    float: left;
    width: 50%;
}
.clock-section .left-col {
    background: #F9F9F8;
    padding: 45px 20px;
    position: relative;
}
.clock-section {
    overflow: hidden;
}
.clock-section, .clock-inner {
    float: left;
    width: 100%;
}
.clock-item img {
    max-height: 230px;
    width: auto;
}
.clock-section .right-col {
    position: relative;
}

.clock-section .right-col figure {
    margin: 0;
}
.clock-image img{
    width:100%;
}

.clock1 .right-col h4 {
    position: absolute;
    left: 50%;
    top: 90%;
    right: 0;
    transform: translate(-50%, -90%);
    width: 90%;
    margin: 0;
    font-size: 42px;
    font-family: "BentonSans-Bold";
    color: #fff;
    text-shadow: 0 0 10px #949494;
    text-align: center;
}
.clock-item {
    max-width: 400px;
    width: 100%;
    float: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.clock-inner .infobx {
    background: #fff;
    padding: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    max-width: 500px;
    width: 90%;
}
.clock-inner .infobx h5, 
.ask-info-inner h5 {
    font-family: "BentonSans-Medium";
    font-size: 22px;
}
.clock-inner .infobx p{
    margin:0; 
}
.ask-jerome {
    margin: 70px 0;
}
.ask-inner .left-col {
    width: 100%;
}
.ask-inner .right-col {
    float: left;
    width: 100%;
    position: relative;
}
.ask-jerome-info {   background: #D8E0E6;  padding: 60px; }


.ask-info-inner .btn {
    margin: 30px 0 0;
}
.shop-category-carousel {
    float: left;
    width: 100%;
    margin: 15px 0 0;
}
.category-link {
    display: block;
    text-align: center;
    font-size: 17px;
}
.palettes-gift-row {
    background: #F9F9F8;
    margin: 60px 0;
}
.gift-inner {
    background: #fff;
    margin: 40px 0;
    padding: 40px;
}
.gift-inner h4 {
    font-size: 24px;
}
.gift-inner .btn2 {
    margin: 20px 0 0;
}
.gift-inner figure {
    padding: 0 40px;
}
.get-social-row {
    margin: 0 0 40px;
}
.get-social-row .owl-theme .owl-nav button.owl-prev,
.get-social-row .owl-theme .owl-nav button.owl-next {
    position: initial;
}
.get-social-row .owl-theme .owl-nav {
    background: url(../images/instagram-img.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 30px auto;
    height: auto;
    margin: 25px 0 0;
}
.get-social-row .owl-theme .owl-nav button.owl-prev {
    margin:20px 70px 0 0; 
}
.footer-top {
    background: #F9F9F8;
    padding: 15px 0;
}
.footer-top p {
    margin: 0;
}
.footer-top p span{
    font-family: "BentonSans-Bold";
}
.footer-top .left-col {
    text-align: right;
    border-right: 1px solid;
}
.footer-top .right-col{
    text-align: left;
}
.footer-bottom {
    background: #FCDCD4;
    padding: 50px 0 30px;
}
.footer-bottom h5 {
    font-size: 18px;
    font-family: "BentonSans-Bold";
    margin: 0 0 25px;
}
.footer-links li {
    display: block;
    margin: 0 0 20px;
}
.footer-links a {
    font-size: 14px;
    text-transform: uppercase;
}
.signup-box {
    float: left;
    width: 100%;
    margin: -4px 0 0;
}
.signup-box h4 {
    font-size: 32px;
    margin: 0 0 20px;
    font-family: "BentonSans-Bold";
    line-height: normal;
}
.signup-box p {
    font-family: GeorgiaRegular;
    font-size: 16px;
    line-height: 24px;
}
.signup-box .form-group input {
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: calc(2.5em + .75rem + 2px);
    font-size: 14px;
    color: #6B6B6B;
    width: calc(100% - 170px);
    float: left;
}
.signup-box .form-group .singup-btn {
    width: 160px;
    background: none;
    border: 2px solid #053052;
    color: #053052;
    height: 49px;
    font-size: 18px;
    font-family: "BentonSans-Bold";
    margin: 0 0 0 10px;
}
.signup-box .form-group .singup-btn:hover{
    background:#053052;
    color:#fff;
}
.social-links {
    padding: 30px 0;
}
.social-links li {
    padding: 0 25px 0 0;
}
.social-links li a{
    font-size: 22px;
}
.copyright-col span, .copyright-col a{
    font-size: 12px;
}
.copyright-col .span-bdr {
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px;
}

.cart-link {
    display: block;
    position: relative;
}

.cart-link .cart-circle {
    background: #053052;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: -7px;
    right: 12px;
    font-family: "BentonSans-Regular";
    font-size: 13px;
    line-height: 20px;
    margin:0; 
}
header.page-header {
    position: relative;
    z-index: 1;
}
.row-col,
.notfront-container {
    float: left;
    width: 100%;
}
.signin-page .notfront-container,
.create-account-page .notfront-container {
    padding: 5% 0;
    background: #f9f7f8;
}
.signin-page .columns,
.create-account-page .columns {
    width: 100%;
    max-width: 100%;
}
.account-bx {
    float: left;
    width: 100%;
    background: #fff;
    padding: 7%;
    margin-bottom: 30px;
}
.sign-feature {
    float: left;
    width: 100%;
	margin: 20px 0 10px;
}
.remember-col {
    float: left;
    width: auto;
}
.view-password-link {
    float: right;
    color: #979797;
    margin-top: 8px;
}
.form-group {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    
}
.sign-feature .quick-item {
    float: left;
    width: 33.333%;
}
.quick-item figure {
    float: left;
    margin: 0;
}
.signin-page .col-md-6 {
    display: flex;
    display: -webkit-flex;
}
.account-bx h3 {
    float: left;
    width: 100%;
    margin: 0 0 10px;
    line-height: normal;
    font-size: 24px;
    font-family: "BentonSans-Regular";
}
.create-account-page .col-12 {
    margin: 0 auto;
}
.banner-inner {
    background: #eff9ff;
    padding: 50px 0;
    text-align: center;
}
.faq-panel {
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    margin: 0 0 15px;
}
.faq-panel h5 {
    padding: 12px 20px;
    margin: 0;
    cursor: pointer;
}
.faq-panel .faq-body {
    padding: 0 20px;
    display: none;
}
.faq-panel h5 .fa {
    float: right;
}
.breadcrumbs {
    padding: 15px 0;
    margin: 0 0 25px;
    float: left;
    width: 100%;
}
.breadcrumbs ul {
    max-width: 1600px;
    width: 94%;
    margin: 0 auto;
    float: none;
}
.breadcrumbs li {
    color: #333;
    padding: 0 8px 0 0;
}
.breadcrumbs li a {
    text-decoration: underline;
}
.banner-inner .header-search {
    margin: 0 auto;
    float: none;
    width: 100%;
}
.banner-inner .header-search {
    width: 100%;
}
.banner-inner .header-search .form-group {
    margin: 0 auto 20px;
    max-width: 600px;
    width: 100%;
    float: none;
}
.banner-inner h1 {
    margin: 0 0 6px;
}
.banner-inner p{
	margin:0; font-size:22px;
}
.sidebar-list li:first-child {
    border-top: 1px solid #ddd;
}
.sidebar-list li,
.sidebar-category li.shop-item {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    float: left;
    width: 100%;
}
textarea{ resize:none; }
.contact-form h4 {
    margin: 0 0 20px;
    font-size: 20px;
}
.adrs-col h4 {
    font-size: 16px;
    margin: 0 0 5px;
    font-family: "BentonSans-Medium";
}
.adrs-col {
    float: left;
    width: 100%;
    margin: 0 0 25px;
}
.adrs-col p{ margin:0; }

.signin-page, .create-account-page {
    margin: 0;
}
.form-group label {
    float: left;
    width: 100%;
}
.forgot-link {
    float: right;
}
.quick-item figure {
    float: left;
    width: 100px;
}
.quick-item figure {
    float: left;
    width: 30px;
    margin-right:5px;
}
.quick-item p {
    float: left;
    width: calc(100% - 35px);
    line-height: 22px;
    color: #e7afa0;
    font-size:15px; 
}
.tm-link, .singin-link {
    text-decoration: underline;
}
.account-bx .tm-col p, .account-bx .tm-col a {
    margin: 0;
    color: #979797;
    font-size: 13px;
}
.account-bx .tm-col {
    margin-bottom: 12px;
}
.custom-control-label::before,
.custom-control-label::after {
    top: 0;
}
.sidebar-filter h5 {
    border-bottom: 1px solid  #053052;
    padding-bottom: 15px;
    margin: 0 0 22px;
}
.sidebar-filter h6 {
    margin-bottom: 20px;
}
.filter-ul li.custom-control {
    margin-bottom: 8px;
}
ul.filter-ul {
    border-bottom: 1px solid  #053052;
    padding-bottom: 10px;
    margin-bottom: 22px;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #053052;
    background-color: #053052;
}
.clear-link {
    display: flex;
    margin: 20px 0 0;
    text-decoration: underline;
}
.ask-jerome-inner h1 {
    margin-bottom: 40px;
}
.showing-result-col span.text {
    float: left;
    width: auto;
    padding-right: 12px;
    font-size:14px; 
    margin-bottom:5px; 
}
.showing-result-col .show-list {
    float: left;
    width: auto;
}
.showing-result-col .show-list li {
    background: #f5f5f5;
    padding: 3px 8px;
    font-size: 13px;
}
.showing-result-col .show-list li .fa {
    margin-right: 3px;
}
.jerome-info .column-1 {
    float: left;
    width: 35%;
    padding-right: 10px;
}
.jerome-info .column-2 {
    float: left;
    width: 65%;
}
.jerome-info a { font-size:13px;  }
.jerome-info .column-2 span.date {
    display: flex;
    font-size: 13px;
    margin-bottom: 4px;
}
.jerome-info .column-2 ul li {
    float: left;
    padding-right: 10px;
    margin-bottom: 4px;
}
.jerome-info .column-2 ul li a { text-decoration:underline; }
.jerome-item {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.form-control {  
    font-size: 14px;
    border: 1px solid #c3c2c7;
    border-radius: 0;
    height: 44px;
 }
.page-link {
    color: #053052;
    padding: .5rem 1.1rem;
    font-size: 20px;
}

.page-item:last-child .page-link { border-radius: 0; }
.pagination-list li.page-item { margin: 0 3px; }
.page-item:first-child .page-link { border-radius: 0; }
ul.pagination-list {
    float: left;
    width: 100%;
    text-align: right;
    margin: 30px 0;
}
.pagination-list li.page-item {
    margin: 0 3px;
    padding: 0.3rem;
}
.other-tutorials {
    border-top: 1px solid #053052;
    padding-top: 50px;
}
.tutorial-item-name .name {
    text-decoration: underline;
}
.side-btn {
    margin-bottom: 40px;
}
.tutorial-item {
    margin-bottom: 30px;
}

.shop-banner img {
    width: 100%;
}
.shop-banner {
    margin-bottom: 20px;
}
.shop-banner-content img {
    width: 100%;
}
.banner-content-bx {
    position: relative;
}
.banner-content-bx .text {
    background: rgba(217,217,219,0.8);
    width: 100%;
    max-width: 80%;
    padding: 12px 20px;
    margin: -50px 0 0 20px;
    position: relative;
}
.banner-content-bx h5 {
    margin-bottom: 3px;
}
.banner-content-bx p {
    margin: 0;
    line-height: 20px;
    font-size: 14px;
}
.shop-banner-content {
    margin-bottom: 8%;
}
.shop-all-banner img {
    width: 100%;
}
.shopall-inner h1, .center {
    text-align: center;
}
.category-item {
    margin-bottom: 50px;
}
.category-item figure { text-align: center; }
.category-item img { width:100%; max-width: 230px; }
.category-row {
    float: left;
    width: 100%;
    margin-bottom: 9%;
}
.shopall-col {
    text-align: center;
}
.shopall-link {
    color: #e7afa0;
    text-transform: capitalize;
    text-decoration: underline;
}
.category-row .seller-name-col .title-name {
    font-size: 16px;
    line-height: 21px;
}
.review-bx {
    border: 1px solid #e7afa0;
    padding: 0;
    float: none;
    width: 99%;
    margin: 0 auto;
}
.review-bx .name-section,
.review-bx .descript-col {
    float: left;
    width: 100%;
    padding: 30px
}
.review-bx .col-md-4 {
    display: flex;
}
.rating-date {
    margin-bottom: 15px;
}
.rating-date .star-col {
    float: left;
    margin-right: 25px;
}
.review-descpt .review-image {
    float: right;
    width: 25%;
    text-align: center;
}
.review-descpt .review-txt {
    float: left;
    width: 75%;
    padding-right: 20px;
}
.owl-theme .owl-dots .owl-dot{ outline: none; }
.owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid #e7afa0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #e7afa0;
    border-color: #e7afa0;
}
.customer-reviews {
    margin-bottom: 6%; padding:0 20px; 
}

.name-section p {
    color: #e7afa0;
    margin-bottom: 5px;
}
.name-section h5 {
    font-size: 22px;
    margin-bottom: 15px;
}
.review-descpt .review-txt p {
    color: #7a7a7a;
}
.category-body {
    display: none; padding: 10px 0 0;
    float: left; width:100%; 
}
.shop-item .fa {
    padding: 0 10px;
    float: right;
    cursor: pointer;
    font-size: 22px;
}
.category-body li {
    padding: 8px 0;
}
.category-body li a {
    line-height: normal;
    font-size: 14px;
}
.sidebar-category li.shop-item .item-name {
    font-family: "BentonSans-bold";
}
ul.sidebar-category {
    margin-bottom: 50px;
    float: left;
    width: 100%;
}
.how-toplay .video-column {
    border: 1px solid #e5edf0;
    margin-bottom: 70px;
}
.how-toplay .video-column img {
    width: 100%;
    float: left; cursor: pointer;
}
.how-toplay{  padding: 0 20px; }
.notfront-banner img { float: left; width:100%; }
.fluid-img { max-width:100%; width:100%; float:left; }
.community-reviews {  margin-top: 30px; }
.before-after-item figure {
    float: left;
    width: 100%;
}
.before-after-info {
    float: left;
    width: 100%;
}
.before-after-item {
    margin-bottom: 10%;
    float: left;
    width: 100%;
}
.before-after-info h5 {
    margin: 10px 0 15px;
}
.before-after-info span.small-text {
    display: block;
    margin-bottom: 10px;
}
.before-after-info p {
    color: #7a7a7a;
}
.shop-link {
    border: 1px solid #e7afa0;
    color: #e7afa0;
    padding: 12px 15px;
    border-radius: 2px;
    min-width: 120px;
    display: inline-block;
    text-align: center;
}
.shop-link:hover {
    color: #fff;
    background: #e7afa0;
}
.shop-link:focus {
    color: #e7afa0;
    background: none;
}
.before-after-info .shop-btn-col {
    margin-top: 20px;
    display: block;
}
.loadmore-inner {
    background: #f9f9f9;
    padding: 15px;
    text-align: center;
    margin-bottom: 70px;
}
.featured-row2 .right-col figure {
    border: 1px solid #e5edf0;
    float: left;
    width: 100%;
    margin: 0;
}
.featured-jerome .video-column {
    margin-bottom: 20px;
}
.featured-jerome {
    margin-bottom:9%; padding:0; 
}
.customer-tab {  margin-bottom:30px; }
.tab-pane-inner .review-bx {
    width: 100%;
    margin-bottom: 30px;
    float: left;
}
.tab-pane-inner .form-control {
    background: #f9f9f9;
    border: none;
    border-radius: 0;
    height: 50px;
}
.form-group label {
    font-size: 14px;
}
.form-group > label {
    font-family: "BentonSans-Medium";
}
.form-group > label span {
    color: #e7afa0;
}
.tab-pane-inner {
    float: left;
    width: 100%;
    padding: 30px 0;
}
.pagination2 {
    text-align: center;
}
.pagination2 a {
    padding: 9px 16px;
    display: inline-block;
}
.pagination2 a.active {
    background: #f9f9f9;
    padding: 9px 16px;
}
.pagination2 span.dots {
    margin-right: -14px;
}
ul.pagination2 li {
    font-size: 14px;
}
.pagination2 .form-control {
    height: auto;
    padding: 9px;
    margin-left: 10px;
}
.pagination2 .form-control:focus {
    border: none;
    box-shadow: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { 
    border:none; color:#053052; background:#ffdcd6; text-decoration:underline; 
  }
.nav-tabs {
    border-bottom: 1px solid #ffdcd6;
    display: initial;
    float: left;
    width: 100%;
}
.nav-tabs .nav-link{  border-radius:0; border:none; padding:1rem 1.5rem;  }
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover { border: none; }
.customer-tab .nav-tabs { text-align:right;  }
.nav-tabs .customer-item,
.nav-tabs .question-item { float: left; }
.nav-tabs .ask-item { float: right; }
.nav-tabs li.nav-item.write-item a {
    border-right: 1px solid #ffdcd6;
}
.customer-tab .nav-item .fa {
    margin-left: 5px;
    font-size: 20px;
    position: relative;
    bottom: -2px;
}
.customer-tab  .nav-tabs .nav-link.active .fa:before{
    content:"\f107";
}
.nav-tabs .write-item, 
.nav-tabs .ask-item { position: relative;  bottom:-1px;  }
.question-click h5 {
    color: #e7afa0;
    padding-left: 0px;
    font-size:18px; 
    line-height:26px; 
    cursor: pointer;
}
.question-click {
    padding-left: 30px;
    position: relative;
    margin-bottom:50px;
}
.question-click h5 span {
    position: absolute;
    left: 0;
}
.question-body {
    padding-left: 30px;
    margin-bottom: 50px;
    float: left;
    width: 100%;
    display: none;
}

.answer-column {
    border-left: 2px solid #e7afa0;
    padding-left: 15px;
    float: left;
    width: 100%;
}

.name-date-column h6 {
    color: #e7afa0;
    float: left;
    animation: q;
}
.name-date-column span {
    float: right;
    width: auto;
    font-size:14px; 
}
.name-date-column {
    float: left;
    width: 100%;
}
.answer-column p, .name-date-column span {
    color: #7a7a7a;
}
.question-panel, .question-click {
    float: left;
    width: 100%;
}
.question-click > span {
    font-size: 14px;
}
.tab-pane-inner .title-col h4 {
    margin-top: 20px;
}
.rating-star .fa {
    font-size: 26px;
    color: #869caa;
    margin-right: 2px;
}
.tab-pane-inner .name-col .form-control,
.tab-pane-inner .review-comment-col .form-control {
    background: none;
    border: 1px solid #c3c2c7;
}

.tab-pane-inner .review-comment-col .form-control { height:auto; }
.tab-pane-inner .custom-control {
    margin-bottom: 7px;
    float: left;
    width: 100%;
}
.done-btn {
    background: #e7afa0;
    color: #053052;
    min-width: 140px;
}
.tab-pane-inner .write-review-form {
    margin-bottom: 30px;
}
.write-review-form h4 {
    margin-bottom: 30px;
}
.contact-section h2, .contact-section h3 {
    font-size: 24px;
    font-family: "BentonSans-Medium";
}
.singin-group p {
    text-align: center;
    margin: 0;
}
.account-bx .text {
    font-size: 14px;
    font-style: italic;
    float: left;
    width: 100%;
    line-height: 22px;
    margin: 0 0 5px;
}
.form-group > label .forgot-link {
    font-family: "BentonSans-Regular";
    font-size: 13px;
}
.remember-col label {
    color: #979797;
}
.remember-group {
    margin-bottom: 10px;
}
.create-bx .btn {
    background: none;
    color: #053052;
    border: 2px solid #053052;
}
.contact-section {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.sign-col .singin-link {
    text-decoration: none;
}


/*===============-magento-common-classes-css-===============*/
.columns {
    margin: 0 auto;
    float: none;
    max-width: 1600px;
    width: 94%;
}